<% content_for :title do %>Welcome<% end %>

<h1>Welcome</h1>

<p>I’m Bill Boyer, a software developer, architect, and technical leader based in NYC. Most recently, I led software development for Viacom’s digital properties, and since then I've been consulting.  More about me <a href="/about-me">here</a>.

<p>I've also started developing this website, as a way of getting hands-on experience with new technologies. More detail <a href="/about-this-site">here</a>.</p>

<h2>What's New?</h2>
A very cool <a href="/demos/prioritized-queue">prioritized-queue</a>  demo!.
