<% content_for :title do %>About This Site<% end %>

<h1>About This Site</h1>

<p>I've developed this site with the following goals:

<ol>

<li>To give myself hands-on experience with as many of the newest and best tools for software development as I have time to learn.</li>

<li>To help develop my skills in the disclipines of iterative product development and continuous software delivery.</li>

<li>To build a decent online presence for myself, demonstrating the kinds of things I know how to do.</li>

</ol>

</p>

<h2>site architecture</h2>

<p>
This is a <a href="http://rubyonrails.org/">Rails</a> site running on <a href="https://www.phusionpassenger.com/">Passenger</a>, with <a href="http://httpd.apache.org/">Apache</a> in front and <a href="http://www.sqlite.org/">SQLite</a> in back. I also have <a href="http://nodejs.org/">Node.js</a> and <a href="http://www.mongodb.org/">MongoDB</a> behind Apache, mainly to serve the JSON API used by the <a href="/demos">demos</a>.  Finally, there's an instance of <a href="https://wordpress.org/">Wordpress</a> hosting the <a href="/blog">blog</a>.  It's also backed by SQLite.
</p>

<p>
The source code for the site overall is at <a href="https://github.com/wboyer/www-bill-boyer.com">www-bill-boyer.com</a> on Github, although individual <a href="/demos">demos</a> tend to draw their code from their own separate repos.
</p>

<p>
The site is hosted on <a href="http://aws.amazon.com/">AWS</a>, and in addition to coding the site itself, I've put significant effort into scripting the management of the AWS infrastructure, and developing an efficient <a href="/about-this-site/deployment-pipeline">build/deploy pipeline</a> for publishing new releases.  <a href="https://www.vagrantup.com/">Vagrant</a> has been a great help with that.
</p>

<p>
<a href="https://github.com/wboyer/ops-bill-boyer.com">ops-bill-boyer.com</a> contains the bulk of my ops-related code.
</p>
