<% content_for :title do %>About This Site<% end %>

<h1>About This Site</h1>

<p>I've developed this site with the following goals:

<ol>

<li>To give myself hands-on experience with as many of the newest and best tools for software development as I have time to learn.</li>

<li>To help develop my skills in the disclipines of iterative product development and continuous software delivery.</li>

<li>To build a decent online presence for myself, demonstrating the kinds of things I know how to do.</li>

</ol>

</p>

<h2>site architecture</h2>

<p>
This is a Rails site, currently running on Passenger, with Apache in front and SQLite in back. I also have Node.js and MongoDB behind Apache, mainly to serve the JSON API used by the <a href="/demos">demos</a>.  Finally, I intend to add a Wordpress-based blog soon.
</p>

<p>
The source code for the site overall is at <a href="https://github.com/wboyer/www-bill-boyer.com">www-bill-boyer.com</a> on Github, although individual <a href="/demos">demos</a> rely on code from other repos.
</p>

<p>
The site is hosted on AWS, and in addition to coding the site itself, I've put a lot of effort into scripting the management of the AWS infrastructure, and developing an efficient <a href="/about-this-site/deployment-pipeline">build/deploy pipeline</a> for publishing new releases.
</p>

<p>
<a href="https://github.com/wboyer/ops-bill-boyer.com">ops-bill-boyer.com</a> contains the bulk of this ops-related code.
</p>
