<h1>Demos</h1>

<p>Cool demos of various tools and ideas.</p>

<table class="table table-striped">
  <% @demos.each do |demo| %>
    <tr>
      <td class="demo-thumbnail"><%= link_to image_tag(demo.img, :class => "demo-thumbnail"), demo_path(demo) %></td>
      <td>
        <h2><%= link_to demo.title, demo_path(demo) %></h2>
        <p><%= demo.short_desc %></p>
      </td>
    </tr>
  <% end %>
</table>

