<% content_for :title do %>About Me<% end %>

<h1>About Me</h1>

Blah.

<h2>Profiles on Other Sites</h2>

<ul>
<li><a href="http://www.linkedin.com/pub/william-boyer/67/93a/a99">LinkedIn</a></li>
<li><a href="https://plus.google.com/107831511220447646083?rel=author">Google+</a></li>
<li><a href="https://www.facebook.com/william.boyer.nyc">Facebook</a></li>
<li><a href="https://github.com/wboyer">GitHub</a></li>
</ul>
