@charset "UTF-8";

body {
  line-height: 1.6;
}

h1, h2, h3, h4, h5, .panel-heading, .navbar-nav, .navbar-brand {
  text-transform: lowercase
}

h1 {
  margin-top: 4px;
  margin-bottom: 16px
}

.navbar-brand {
  font-size: 2em;
}

.panel-body {
  font-size: 0.9em;
}

li {
  padding-bottom: 10px;
}

.dropdown-menu {
  li {
    padding-bottom: 0px;
  }
}

footer {
  font-size: 0.8em;
}

.fb-like {
  float: left;
  padding: 0px;
  margin: 0px;
}

.tweet-button {
  float: left;
  padding: 0px;
  margin: 0px;
}

.player-container {
  margin-left: auto;
  margin-right: auto;
  width: 288px;
  height: 162px;
}

@media (min-width: 540px) {
  .player-container {
    width: 480px;
    height: 270px;
  }
}

@media (min-width: 720px) {
  .player-container {
    width: 640px;
    height: 360px;
  }
}

@media (min-width: 1024px) {
  .player-container {
    width: 768px;
    height: 432px;
  }
}

.right-col {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .left-col {
    padding-left: 0px;
  }
  .right-col {
    padding-right: 0px;
  }
}

